{% extends 'base.html' %}

{% block body %}
<main class="ant-layout-content container product-page">
    <div class="ant-row mt-30" style="margin-left: -8px; margin-right: -8px;">
        <div class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-8 ant-col-lg-6" style="padding-left: 8px; padding-right: 8px;">
            <div class="left-panel">
                <div class="ant-row ant-row-center" style="margin-top: 15px;">
                    <div class="ant-image" style="width: 80px;">
                        <img class="ant-image-img" src="/static/images/product-factory.png" width="80" style="border-radius: 200px;">
                        <div class="ant-image-mask">
                            <div class="ant-image-mask-info">
                                <span role="img" aria-label="eye" class="anticon anticon-eye">
                                    <svg viewBox="64 64 896 896" focusable="false" data-icon="eye" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                        <path d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"></path>
                                    </svg>
                                </span>
                                Preview
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ant-row ant-row-center">
                    <h4 class="ant-typography" style="margin-top: 10px; margin-bottom: 5px; text-align: center;">OpenUnited Product Factory</h4>
                </div>
                <div class="ant-row ant-row-center"><a class="ant-typography gray-link" href="/" style="margin-bottom: 20px; text-align: center;">https://openunited.com</a></div>
                <ul class="ant-menu ant-menu-root ant-menu-inline ant-menu-light" role="menu" tabindex="0" data-menu-list="true">
                    <li class="ant-menu-item ant-menu-item-only-child" role="menuitem" tabindex="-1" data-menu-id="rc-menu-uuid-24597-1-summary" style="padding-left: 24px;"><span class="ant-menu-title-content"><a href="/meta/openunited-product-factory/">Summary</a></span></li>
                    <li class="ant-menu-item ant-menu-item-only-child" role="menuitem" tabindex="-1" data-menu-id="rc-menu-uuid-24597-1-initiatives" style="padding-left: 24px;"><span class="ant-menu-title-content"><a href="/meta/openunited-product-factory/initiatives">Initiatives</a></span></li>
                    <li class="ant-menu-item ant-menu-item-selected ant-menu-item-only-child" role="menuitem" tabindex="-1" data-menu-id="rc-menu-uuid-24597-1-challenges" style="padding-left: 24px;"><span class="ant-menu-title-content"><a href="/meta/openunited-product-factory/challenges">Challenges</a></span></li>
                    <li class="ant-menu-item ant-menu-item-only-child" role="menuitem" tabindex="-1" data-menu-id="rc-menu-uuid-24597-1-capabilities" style="padding-left: 24px;"><span class="ant-menu-title-content"><a href="/meta/openunited-product-factory/capabilities">Product Tree</a></span></li>
                    <li class="ant-menu-item ant-menu-item-only-child" role="menuitem" tabindex="-1" data-menu-id="rc-menu-uuid-24597-1-ideas-and-bugs" style="padding-left: 24px;"><span class="ant-menu-title-content"><a href="/meta/openunited-product-factory/ideas-and-bugs">Ideas &amp; Bugs</a></span></li>
                    <li class="ant-menu-item ant-menu-item-only-child" role="menuitem" tabindex="-1" data-menu-id="rc-menu-uuid-24597-1-people" style="padding-left: 24px;"><span class="ant-menu-title-content"><a href="/meta/openunited-product-factory/people">People</a></span></li>
                </ul>
                <div aria-hidden="true" style="display: none;"></div>
            </div>
        </div>
        <div class="ant-col product-page-children ant-col-xs-24 ant-col-sm-24 ant-col-md-16 ant-col-lg-18" style="padding-left: 32px; padding-right: 32px;">
            <div class="ant-spin-nested-loading">
                <div class="ant-spin-container">
                    <nav class="ant-breadcrumb">
                        <ol>
                            <li><span class="ant-breadcrumb-link"><a href="/meta/openunited-product-factory">OpenUnited Product Factory</a></span><span class="ant-breadcrumb-separator">/</span></li>
                            <li><span class="ant-breadcrumb-link"><a href="/meta/openunited-product-factory/challenges">Challenges</a></span><span class="ant-breadcrumb-separator">/</span></li>
                            <li><span class="ant-breadcrumb-link"><a href="/meta/openunited-product-factory/initiatives/4">Improve the activation of OpenUnited</a></span><span class="ant-breadcrumb-separator">/</span></li>
                            <li><span class="ant-breadcrumb-link">Tweak "add product" logic</span><span class="ant-breadcrumb-separator">/</span></li>
                        </ol>
                    </nav>
                    <div class="ant-row ant-row-space-between right-panel-headline strong-height">
                        <div class="ant-col ant-col-md-16">
                            <div class="section-title">{{ lookup.title }}</div>
                        </div>
                        <div class="ant-col text-right ant-col-md-8">
                            <div class="ant-row text-sm">
                                <div class="flex-column ml-auto mt-10"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-row html-description">
                                <div class="ant-col" style="overflow-x: auto; width: calc(100vw - 95px); margin-top: 50px;">
                                    {{ lookup.description|safe }}    
                                </div>
                            </div>
                            <div class="ant-row mt-22">
                                <label style="padding-bottom: 10px; font-weight: 500;width:100%;">Bounty: </label>
                                <div class="ant-row">
                                    <div class="ant-col">
                                        <div class="ant-row" style="background-color: rgb(250, 250, 250); padding: 10px; width: 280px;">Skill</div>
                                    </div>
                                    <div class="ant-col">
                                        <div class="ant-row" style="background-color: rgb(250, 250, 250); padding: 10px; width: 200px;">Expertise</div>
                                    </div>
                                    <div class="ant-col">
                                        <div class="ant-row" style="background-color: rgb(250, 250, 250); padding: 10px; width: 60px;">Points</div>
                                    </div>
                                    <div class="ant-col">
                                        <div class="ant-row" style="background-color: rgb(250, 250, 250); padding: 10px; width: 260px;">Action</div>
                                    </div>
                                </div>
                                <div class="ant-row">
                                    <div class="ant-col">
                                        <div class="ant-row" style="border-bottom: 1px solid rgb(250, 250, 250); height: 100%; align-items: center; width: 280px; font-weight: 500;"><span class="ant-typography" style="font-size: 13px; min-width: 280px; padding: 10px; width: max-content;">Software Dev...-&gt;Full-stack Development</span></div>
                                    </div>
                                    <div class="ant-col">
                                        <div class="ant-row" style="border-bottom: 1px solid rgb(250, 250, 250); height: 100%; align-items: center; width: 200px; padding: 10px; text-transform: capitalize; font-weight: 500;"></div>
                                    </div>
                                    <div class="ant-col">
                                        <div class="ant-row" style="border-bottom: 1px solid rgb(250, 250, 250); height: 100%; align-items: center; width: 60px; padding: 10px; font-weight: 500;">5</div>
                                    </div>
                                    <div class="ant-col">
                                        <div class="ant-row" style="border-bottom: 1px solid rgb(250, 250, 250); height: 100%; align-items: center; width: 260px; padding: 10px; font-weight: 500;"><button type="button" class="ant-btn ant-btn-primary text-black"><span>Claim</span></button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-22">
                                <div class="ant-row text-sm mt-8" style="margin-top: 10px;">
                                    <strong class="my-auto">Created By: </strong>
                                    <div class="ant-row ant-row-middle" style="margin-left: 15px;">
                                        <div class="ant-col"><span class="ant-avatar ant-avatar-circle ant-avatar-image" style="width: 35px; height: 35px; line-height: 35px; font-size: 18px; margin-right: 5px; user-select: none; cursor: pointer;">
                                            <img src="/static/images/avatar.png"></span></div>
                                        <div class="ant-col"><a class="ant-typography text-grey-9" href="/adrian">Adrian McPhee</a></div>
                                    </div>
                                </div>
                                <div class="ant-row text-sm mt-8"><strong class="my-auto">Status: Available</strong></div>
                                <div class="ant-row text-sm mt-8" style="margin-top: 10px;"><strong class="my-auto">Priority:&nbsp;</strong>&nbsp;<a class="ant-dropdown-trigger" style="color: rgb(0, 211, 88);">Medium </a></div>
                                <div class="ant-row text-sm mt-8" style="margin-top: 10px;">
                                    <strong class="my-auto">Reviewer:</strong>
                                    <div class="ant-row ant-row-middle" style="margin-left: 15px;">
                                        <div class="ant-col"><span class="ant-avatar ant-avatar-circle ant-avatar-image" style="width: 35px; height: 35px; line-height: 35px; font-size: 18px; margin-right: 5px; user-select: none; cursor: pointer;">
                                            <img src="/static/images/avatar.png"></span></div>
                                        <div class="ant-col"><a class="ant-typography text-grey-9" href="/adrian">Adrian McPhee</a></div>
                                    </div>
                                </div>
                                <div class="ant-row text-sm mt-8"><strong class="my-auto">Related Capability:</strong><a class="ant-typography ml-5" href="/meta/openunited-product-factory/capabilities/60">Product management</a></div>
                                <div class="ant-row text-sm mt-8"><strong class="my-auto">Initiative:</strong><a class="ant-typography ml-5" href="/meta/openunited-product-factory/initiatives/4">Improve the activation of OpenUnited</a></div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 30px;"></div>
                    <div class="ant-form-item">
                        <div class="ant-row ant-form-item-row">
                            <div class="ant-col ant-form-item-control">
                                <div class="ant-form-item-control-input">
                                    <div class="ant-form-item-control-input-content">
                                        <div class="ant-mentions"><textarea rows="2" class="rc-textarea"></textarea></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ant-form-item">
                        <div class="ant-row ant-form-item-row">
                            <div class="ant-col ant-form-item-control">
                                <div class="ant-form-item-control-input">
                                    <div class="ant-form-item-control-input-content"><button type="button" class="ant-btn ant-btn-primary text-black"><span>Add Comment</span></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}