{% extends 'main.html' %}
{% block content %}

{% for i in challenge_list %}
<div class="ant-col task-box ant-col-sm-12 ant-col-md-8 ant-col-lg-6" style="padding-left: 10px; padding-right: 10px;">
    <div class="task-box-title"><a href="{% url 'product' i.id %}">{{ i.title }}</a></div>
    <div class="task-box-body">
        <p class="omit">{{ i.short_description }}</p>
        <span><b>Product</b></span><br>
        <div class="task-box-video">
            <span role="img" aria-label="play-square" tabindex="-1" class="anticon anticon-play-square pointer">
                <svg viewBox="64 64 896 896" focusable="false" data-icon="play-square" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                    <path d="M442.3 677.6l199.4-156.7a11.3 11.3 0 000-17.7L442.3 346.4c-7.4-5.8-18.3-.6-18.3 8.8v313.5c0 9.4 10.9 14.7 18.3 8.9z"></path>
                    <path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z"></path>
                </svg>
            </span>
            <a href="https://openunited.com/meta/openunited-product-factory">{{ i.product.name }}</a>
        </div>
        <span><b>Initiative</b></span><br>
        <div class="task-box-video"><a href="https://openunited.com/meta/openunited-product-factory/initiatives/4">{{ i.initiative.name }}</a></div>
        <div class="task-box-video"><b class="mr-15">Priority</b><a class="ant-dropdown-trigger"> </a></div>
        <p><b class="mr-15">Status</b><span>Available</span></p>
    </div>
</div>
{% endfor %}

{% endblock %}