{% extends 'base.html' %}


{% block body %}
<main class="ant-layout-content container main-page">
    <div class="mobile-select-tab">
        <div class="ant-select ant-select-single ant-select-show-arrow w-130">
            <div class="ant-select-selector">
                <span class="ant-select-selection-search"><input type="search" autocomplete="off" class="ant-select-selection-search-input opacity-0" role="combobox" aria-haspopup="listbox" aria-owns="rc_select_0_list" aria-autocomplete="list" aria-controls="rc_select_0_list" aria-activedescendant="rc_select_0_list_0" value="" readonly="" unselectable="on" id="rc_select_0"></span>
                <span class="ant-select-selection-item" title="Challenges">Challenges</span></div>
            <span class="ant-select-arrow select-none" style="-webkit-user-select:none" unselectable="on" aria-hidden="true">
                <span role="img" aria-label="down" class="anticon anticon-down ant-select-suffix">
                    <svg viewBox="64 64 896 896" focusable="false" data-icon="down" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                        <path d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"></path>
                    </svg>
                </span>
            </span>
        </div>
        <div class="extra"><button class="ant-btn ant-btn-primary"><span>Filter</span></button></div>
    </div>
    <div class="ant-row mb-40" style="margin-left:-25px;margin-right:-25px">
        <div style="padding-left:25px;padding-right:25px" class="ant-col ant-col-md-24">
            <div class="ant-tabs ant-tabs-top main-tab">
                <div role="tablist" class="ant-tabs-nav">
                    <div class="ant-tabs-nav-wrap">
                        <div class="ant-tabs-nav-list translate-x-0 translate-y-0">
                            <div class="ant-tabs-tab{% if request.GET.tab == 'challanges' %} ant-tabs-tab-active{% endif %}">
                                <a href="?tab=challanges" role="tab" aria-selected="{% if request.GET.tab == 'challanges' %}true{% else %}false{% endif %}" class="ant-tabs-tab-btn" tabindex="0" id="rc-tabs-0-tab-challenges" aria-controls="rc-tabs-0-panel-challenges">Challenges</a>
                            </div>
                            <div class="ant-tabs-tab{% if request.GET.tab == 'products' %} ant-tabs-tab-active{% endif %}">
                                <a href="?tab=products" role="tab" aria-selected="{% if request.GET.tab == 'products' %}true{% else %}false{% endif %}" class="ant-tabs-tab-btn" tabindex="0" id="rc-tabs-0-tab-products" aria-controls="rc-tabs-0-panel-products">Products</a>
                                
                            </div>
                            <div class="ant-tabs-ink-bar" style="{% if request.GET.tab == 'challanges' or request.META.PATH_INFO == '/' %}left: 0px; width: 67px;{% endif %}{% if request.GET.tab == 'products' %}left: 99px; width: 54px;{% endif %}"></div>
                        </div>
                    </div>
                    <div class="ant-tabs-nav-operations ant-tabs-nav-operations-hidden">
                        <button type="button" class="ant-tabs-nav-more" style="visibility:hidden;order:1" tabindex="-1" aria-hidden="true" aria-haspopup="listbox" aria-controls="rc-tabs-0-more-popup" id="rc-tabs-0-more" aria-expanded="false">
                            <span role="img" aria-label="ellipsis" class="anticon anticon-ellipsis">
                                <svg viewBox="64 64 896 896" focusable="false" data-icon="ellipsis" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                    <path d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                    <div class="ant-tabs-extra-content"><button type="button" onclick="$('.ant-modal-root').removeClass('hidden');" class="ant-btn ant-btn-primary text-black"><span>Filter</span></button></div>
                </div>
                <div class="ant-tabs-content-holder">
                    <div class="ant-tabs-content ant-tabs-content-top">
                        <div role="tabpanel" tabindex="0" aria-hidden="false" class="ant-tabs-tabpane ant-tabs-tabpane-active" id="rc-tabs-0-panel-challenges" aria-labelledby="rc-tabs-0-tab-challenges">
                            <div class="ant-row ml-[-10px] mr-[-10px]">
                                {% block content %}{% endblock %}
                            </div>
                            <div class="center mb-30">
                                <ul class="ant-pagination" unselectable="unselectable">
                                    <li title="Previous Page" class="ant-pagination-prev ant-pagination-disabled" aria-disabled="true">
                                        <button class="ant-pagination-item-link" type="button" tabindex="-1" disabled="">
                                            <span role="img" aria-label="left" class="anticon anticon-left">
                                                <svg viewBox="64 64 896 896" focusable="false" data-icon="left" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                    <path d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 000 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z"></path>
                                                </svg>
                                            </span>
                                        </button>
                                    </li>
                                    <li title="1" class="ant-pagination-item ant-pagination-item-1 ant-pagination-item-active" tabindex="0"><a rel="nofollow">1</a></li>
                                    <li title="2" class="ant-pagination-item ant-pagination-item-2" tabindex="0"><a rel="nofollow">2</a></li>
                                    <li title="Next Page" tabindex="0" class="ant-pagination-next" aria-disabled="false">
                                        <button class="ant-pagination-item-link" type="button" tabindex="-1">
                                            <span role="img" aria-label="right" class="anticon anticon-right">
                                                <svg viewBox="64 64 896 896" focusable="false" data-icon="right" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                    <path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 00302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 000-50.4z"></path>
                                                </svg>
                                            </span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div role="tabpanel" tabindex="-1" aria-hidden="true" class="ant-tabs-tabpane hidden" id="rc-tabs-0-panel-products" aria-labelledby="rc-tabs-0-tab-products"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}