body {
    margin: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    position: relative;
  }
  
  .navbar-brand {
    position: absolute;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .navbar-brand img {
    height: 40px; /* Adjust the height as needed */
  }
  
  .navbar-toggler {
    border: none;
  }
  
  @media (max-width: 991.98px) {
    .navbar-brand {
      left: 0;
      transform: none;
      position: static;
    }
  
    .navbar-nav {
      margin-left: auto;
    }
  
    .navbar-collapse {
      position: relative;
      background-color: #f8f9fa; 
      padding: 10px; /* Add padding as needed */
    }
  }
  
  a:hover span {
    border-bottom: 1px solid blue;
    color: blue;
  }